{{>layout/header}}

<h1>공지사항</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/notice/write.do" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-strong">
        <tr>
            <th>제목</th>
            <th>작성자</th>
            <th>최종수정일</th>
            <th>조회 수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#list}}
            <tr>
                <td><a href="/notice/read/{{idx}}">{{title}}</a></td>
                <td>{{writer}}</td>
                <td>{{insertTime}}</td>
                <td>{{viewCnt}}</td>
            </tr>
        {{/list}}
        </tbody>
    </table>
</div>

{{>layout/footer}}