{{>layout/header}}
<link rel="stylesheet" href="/css/join.css">


<div class="wrapper">
    <form action="">
        <div class="wrap">
            <div class="subjecet">
                <span>회원가입</span>
            </div>
            <div class="id_wrap">
                <div class="id_name">아이디</div>
                <div class="id_input_box">
                    <input class="id_input" id="memberId" placeholder="아이디를 입력하세요">
                </div>
                <div class="id_button">
                    <span>중복 검사</span>
                </div>
                <span class="id_input_re_1">사용 가능한 아이디입니다.</span>
                <span class="id_input_re_2">아이디가 이미 존재합니다.</span>
                <span class="final_id_ck">아이디를 입력해주세요.</span>
                <span class="id_input_box_warn"></span>
            </div>
            <div class="pw_wrap">
                <div class="pw_name">비밀번호</div>
                <div class="pw_input_box">
                    <input class="pw_input" id="memberPw" placeholder="비밀번호를 입력하세요">
                </div>
                <span class="final_pw_ck">비밀번호를 입력해주세요.</span>
                <span class="final_repw_ck">비밀번호를 다시 입력해주세요.</span>
            </div>
            <div class="pwck_wrap">
                <div class="pwck_name">비밀번호 확인</div>
                <div class="pwck_input_box">
                    <input class="pwck_input" id="memberPwCk" placeholder="비밀번호를 한번 더 입력하세요">
                </div>
                <span class="final_pwck_ck">비밀번호 확인을 입력해주세요.</span>
                <span class="pwck_input_re_1">비밀번호가 일치합니다.</span>
                <span class="pwck_input_re_2">비밀번호가 일치하지 않습니다.</span>
            </div>
            <div class="user_wrap">
                <div class="user_name">이름</div>
                <div class="user_input_box">
                    <input class="user_input" id="memberName" placeholder="이름을 입력하세요">
                </div>
                <span class="final_name_ck">이름을 입력해주세요.</span>
            </div>
            <div class="mail_wrap">
                <div class="mail_name">이메일</div>
                <div class="mail_input_box">
                    <input class="mail_input" id="memberEmail" placeholder="이메일을 입력하세요">
                </div>
                <div class="email_button">
                    <span>중복 검사</span>
                </div>
                <span class="final_email_ck">이메일을 입력해주세요.</span>
                <span class="mail_input_box_warn"></span>
                <span class="mail_input_re_1">사용가능한 이메일입니다.</span>
                <span class="mail_input_re_2">중복 이메일입니다.</span>
            </div>
            <div class="address_wrap">
                <div class="address_name">주소</div>
                <div class="address_input_1_wrap">
                    <div class="address_input_1_box">
                        <input class="address_input_1" id="memberAddr1" readonly="readonly" placeholder="우편번호">
                    </div>
                    <div class="address_button" onclick="excution_daum_address()">
                        <span>주소 찾기</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class ="address_input_2_wrap">
                    <div class="address_input_2_box">
                        <input class="address_input_2" id="memberAddr2" readonly="readonly" placeholder="주소">
                    </div>
                </div>
                <div class ="address_input_3_wrap">
                    <div class="address_input_3_box">
                        <input class="address_input_3" id="memberAddr3" readonly="readonly" placeholder="상세주소">
                    </div>
                </div>
                <span class="final_addr_ck">주소를 입력해주세요.</span>
            </div>
            <div class="join_button_wrap">
                <input type="button" class="join_button" id="btn-save-member" value="가입하기">
            </div>
        </div>
    </form>
</div>


<!-- 주소API-->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>
<!-- 다음 주소 연동 -->
    function excution_daum_address(){
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    //주소변수 문자열과 참고항목 문자열 합치기
                    addr += extraAddr;

                } else {
                    addr += ' ';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                $(".address_input_1").val(data.zonecode);
                $(".address_input_2").val(addr);


                // 상세주소 입력란 disabled 속성 변경 및 커서를 상세주소 필드로 이동한다.
                $(".address_input_3").attr("readonly", false);
                $(".address_input_3").focus();
            }
        }).open();
    }

</script>

{{>layout/footer}}
